kind: ConfigMap
apiVersion: v1
metadata:
  name: photoprism-config
data:
  # GPU Transcoding
  PHOTOPRISM_FFMPEG_ENCODER: "intel"
  PHOTOPRISM_INIT: "intel"

  # General
  PHOTOPRISM_HTTP_HOST: "0.0.0.0"
  PHOTOPRISM_HTTP_PORT: "2342"
  PHOTOPRISM_SITE_URL: "https://photos.navy.dalmura.cloud/"
  PHOTOPRISM_DISABLE_TLS: "true"

  # Filesystem
  PHOTOPRISM_UID: "9002"
  PHOTOPRISM_GID: "9002"
  PHOTOPRISM_DISABLE_CHOWN: "true"
  PHOTOPRISM_ORIGINALS_PATH: "/photos/originals"
  PHOTOPRISM_IMPORT_PATH: "/photos/import"
