apiVersion: apps/v1
kind: Deployment
metadata:
  name: anubis
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: anubis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: anubis
    spec:
      containers:
        - name: anubis
          image: ghcr.io/techarohq/anubis:v1.23.1
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: metrics
              containerPort: 9090
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: 9090
          readinessProbe:
            tcpSocket:
              port: 8080
          resources:
            limits:
              cpu: 750m
              memory: 256Mi
            requests:
              cpu: 250m
              memory: 256Mi
          envFrom:
            - configMapRef:
                name: anubis-config
