---
ingress:
  enabled: false

pms:
  configStorage: 100Gi
  securityContext:
    # Required for hardware transcoding support
    privileged: true

  claimSecret:
    name: plex-secrets
    key: PLEX_CLAIM

serviceAccount:
  create: true

extraEnv:
  # Video GID for transcoding device access
  PLEX_GID: "44"

nodeSelector:
  k8s.dalmura.cloud/nodegroup: eq14-worker-pool

extraVolumeMounts:
  - name: dev-dri
    mountPath: /dev/dri
  - name: data
    mountPath: /data

extraVolumes:
  # Required for hardware transcoding support
  - name: dev-dri
    hostPath:
      path: /dev/dri
      type: Directory
  - name: data
    nfs:
      server: atlas.wlanding.dalmura.com.au
      path: /data
      readOnly: true
