---
nameOverride: vms

server:
  retentionPeriod: 6M

  extraArgs:
    vmalert.proxyURL: http://victoria-metrics-alert-vma-server.victoria-metrics.svc.cluster.local:8880/

  scrape:
    enabled: true

    extraScrapeConfigs:
      - job_name: victoria-logs-single
        static_configs:
          - targets:
              - http://victoria-logs-single-vls-server.victoria-logs.svc.cluster.local:9428/metrics

  persistentVolume:
    size: 20Gi
    storageClassName: cluster-nobackup

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: dalmura-letsencrypt-prod
      external-dns.alpha.kubernetes.io/hostname: vms.indigo.dalmura.cloud
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/router.middlewares: authentik-authentik@kubernetescrd
    hosts:
      - name: vms.indigo.dalmura.cloud
        path:
          - /
        port: http
    ingressClassName: ingress-private
    tls:
      - hosts:
          - vms.indigo.dalmura.cloud
        secretName: vms-cert
