kind: ConfigMap
apiVersion: v1
metadata:
  name: photoprism-config
data:
  # GPU Transcoding
  PHOTOPRISM_FFMPEG_ENCODER: "intel"
  PHOTOPRISM_INIT: "intel"

  # General
  PHOTOPRISM_HTTP_HOST: "0.0.0.0"
  PHOTOPRISM_HTTP_PORT: "2342"
  PHOTOPRISM_SITE_URL: "https://photos.indigo.dalmura.cloud/"
  PHOTOPRISM_DISABLE_TLS: "true"
  PHOTOPRISM_SITE_CAPTION: "Photo Management"

  # Filesystem
  PHOTOPRISM_UID: "9002"
  PHOTOPRISM_GID: "9002"
  PHOTOPRISM_DISABLE_CHOWN: "true"
  PHOTOPRISM_ORIGINALS_PATH: "/photos/originals"
  PHOTOPRISM_IMPORT_PATH: "/photos/import"

  # Indexing
  PHOTOPRISM_AUTO_IMPORT: "600"  # 10 minutes delay

  # Static OIDC settings
  PHOTOPRISM_OIDC_URI: "https://auth.indigo.dalmura.cloud/application/o/photoprism/"
  PHOTOPRISM_OIDC_SCOPES: "openid email profile entitlements"
  PHOTOPRISM_OIDC_PROVIDER: "Authentik"
  PHOTOPRISM_OIDC_REDIRECT: "true"
  PHOTOPRISM_OIDC_REGISTER: "true"
  PHOTOPRISM_OIDC_WEBDAV: "true"
