apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: emojirades
    app.kubernetes.io/name: emojirades
  name: emojirades
  namespace: emojirades
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: emojirades
      app.kubernetes.io/name: emojirades
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: emojirades
        app.kubernetes.io/name: emojirades
    spec:
      containers:
        - image: emojirades/emojirades:latest
          imagePullPolicy: IfNotPresent
          name: emojirades

          command:
            - "-vv"
            - "multiple"
            - "--workspaces-uri"
            - "{{ shard_prefix }}/{{ item }}/"
            - "--onboarding-queue"
            - "{{ onboarding_queue_prefix }}{{ item }}"
            - "--db-uri"
            - "postgresql+psycopg2://{{ emojirades_db_auth[item]['db_username'] }}:{{ emojirades_db_auth[item]['db_password'] }}@emojirades_shard_{{ item }}_db:5432/{{ emojirades_db_name }}"

          environment:
            TZ: "Australia/Melbourne"
            AWS_ACCESS_KEY_ID: FROM_SECRET
            AWS_SECRET_ACCESS_KEY: FROM_SECRET
            AWS_DEFAULT_REGION: "ap-southeast-2"
